/* fonts */

/* gabarito-regular - latin */
@font-face {
  font-display: swap;
  font-family: Gabarito;
  font-style: normal;
  font-weight: 400;
  src: url("gabarito-v1-latin-regular.woff2") format("woff2");
}
/* gabarito-500 - latin */
@font-face {
  font-display: swap;
  font-family: Gabarito;
  font-style: normal;
  font-weight: 500;
  src: url("gabarito-v1-latin-500.woff2") format("woff2");
}
/* gabarito-600 - latin */
@font-face {
  font-display: swap;
  font-family: Gabarito;
  font-style: normal;
  font-weight: 600;
  src: url("gabarito-v1-latin-600.woff2") format("woff2");
}
/* gabarito-700 - latin */
@font-face {
  font-display: swap;
  font-family: Gabarito;
  font-style: normal;
  font-weight: 700;
  src: url("gabarito-v1-latin-700.woff2") format("woff2");
}

/* general rules */

body,
html {
  height: 100%;
  margin: 0;
  font-family: Gabarito, sans-serif;
}

h1 {
  display: none;
}

.container {
  width: 100rem;
  max-width: 100%;
  margin: auto;
}

/* header and nav */

.logo {
  min-width: 200px;
  max-width: 200px;
}

.header img {
  margin: 0 auto;
  padding-top: 10px;
}

.nav-list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.nav-list li:hover {
  text-decoration: underline;
  color: #068386;
}

.hero-image {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("hero-image.jpg");
  min-height: 50vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2rem;
}

.hero-text {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: Gabarito, sans-serif;
}

.hero-text h2 {
  font-size: 5rem;
}

button {
  background-color: #068386;
  border: 0px;
  border-radius: 4rem;
  color: white;
  padding: 1rem 4rem;
  font-weight: 600;
  margin: 2rem 0rem;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #41c2c2;
  color: #181c1d;
  transform: scale(1.05);
}

/* cards */

.adventure-cards {
  text-align: center;
  margin: 5rem 0rem;
  color: #181c1d;
  font-size: 2.4rem;
}

.card {
  box-shadow: #959da533 0px 8px 24px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 30rem;
  margin: 2rem 1.5rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 2rem 2rem 0rem 0rem;
}

.card h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #181c1d;
  padding: 1rem 2rem 0rem 2rem;
}

.card p:nth-of-type(1) {
  font-size: 1.8rem;
  color: #181c1d;
  font-weight: 300;
  padding: 0rem 2rem;
}

.card-link p:nth-of-type(2) {
  display: inline-flex;
  background-color: #eab99b;
  border-radius: 1.9rem;
  height: 1;
  font-size: 1.8rem;
  padding: 0.2rem 1.2rem;
}

.card:hover {
  transform: scale(1.05);
}

footer {
  background-color: #068386;
  padding: 2rem;
  text-align: center;
}

.overlay {
  box-shadow: #959da533 0px 8px 24px;
  border-radius: 2rem 2rem 0rem 0rem;
  transition: all 0.3s ease-in-out;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 20rem;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;

  background-color: #068386;
  opacity: 85%;

  transform: translateY(-100%);

  transition: all 0.5s ease-in-out;
}

.overlay h3 {
  color: white;
}

.container .card:hover .overlay {
  transform: translateY(0);
}

/* I've only used one media query for 600px because it felt like repeating myself for 900px */

@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header img {
    margin: initial;
    padding: 0;
  }
  .nav-list {
    margin: 0px 4rem;
  }
}
